.git
.github
.next
node_modules
generated/prisma
.env*
.DS_Store
*.tsbuildinfo
next-env.d.ts
.idea
.vscode
.claude
CLAUDE.md
README.md
deploy.sh
nginx.conf
docker-compose.yml
coverage
npm-debug.log*
yarn-debug.log*
dockerfile
.dockerignore