# API publique Chauffagistes
API_URL=https://chauffagistes-pool.fr:3000

# URL du serveur d'historique
# Exemple :
# http://localhost:8080
HISTORY_API_URL=

# URL du site
# Exemple :
# https://stats.chauffagistes-pool.fr
BASE_URL=

# URL de l'API Bitcoin (serveur RPC)
# Exemple :
# https://bitcoin.chauffagistes-pool.fr
BITCOIN_API_URL=

# Token d'accès à l'API du pool
POOL_TOKEN=


# ===== POSTGRESQL ===== #

# Hôte
# Exemple :
# localhost
PGHOST=

# Port
# Exemple :
# 5432
PGPORT=

# Utilisateur
# Exemple :
# postgres
PGUSER=

# Mot de passe
# Exemple :
# 4d0ec71c1a9544223ed640c94d88c881
PGPASSWORD=

# Nom de la base de données
# Exemple :
# chauffagistes
PGDATABASE=


# ===== Authentification ===== #

# Clé de chiffrement des cookies Lightning (64 caractères hexa).
# Exemple :
# f016bf44f6fd52c5f51ee4e29cc982946688a8490cf9f13dc1319ddbb117d68a
SESSION_PASSWORD=

# ID du client OAuth2 Discord
# Exemple :
# 1100450456091766907
DISCORD_CLIENT_ID=

# Secret OAuth2 Discord
# Exemple :
# HR8atyChyc4v5LeJyjVKK5x4W6_ie8f0
DISCORD_CLIENT_SECRET=

# Clé de chiffrement des cookies Discord (64 caractères hexa)
# Exemple :
# 5036abe77cc3201dfa479f3bb8ea709dc9372e88ef165282deec16768a16aae8
NEXTAUTH_SECRET=

# URL du site
# Exemple :
# https://stats.chauffagistes-pool.fr
NEXTAUTH_URL=


# ===== Prisma (ORM) ===== #

# URL de connexion à la bdd
# Exemple :
# "postgresql://postgres:password@localhost:5432/chauffagistes"
DATABASE_URL=