#desktop-navbar a div {
    line-height: 1;        /* élimine les variations verticales */
    font-weight: 600;      /* poids constant */
    display: flex;
    align-items: center;   /* encore plus de stabilité verticale */
    padding: 5px 10px;
    border-radius: 7px;
}

.des-nav-active {
    background-color: var(--desktop-navbar-active-color);
    color: var(--desktop-navbar-active-text-color);
}

@media screen and (max-width: 800px) {
    #desktop-navbar {
        display: none !important;
    }
}